*pyc
*~
__pycache__
App-2-Flatmates-Bill/venv
App-3-Project-Math-Painting/venv
App-4-Search_Photo/venv39
App-4-Webcam-Photo-Sharer/venv
App-5-Flatmates-Bill-Web-App/venv
App-6-Project-Calorie-Webapp/venv
App-7-Automated-Emails/venv
App-8-Instant-Dictionary-Webapp/venv
App-9-Instant-Dictionary-API/venv
App-10-Cinema-Ticket-Booking/venv
App-2-Flatmates-Bill/.idea
App-3-Project-Math-Painting/.idea
App-4-Search_Photo/.idea
App-4-Webcam-Photo-Sharer/.idea
App-5-Flatmates-Bill-Web-App/.idea
App-6-Project-Calorie-Webapp/.idea
App-7-Automated-Emails/.idea
App-8-Instant-Dictionary-Webapp/.idea
App-9-Instant-Dictionary-API/.idea
App-10-Cinema-Ticket-Booking/.idea